.idea
poze

backend-js/node_modules
backend-js/.idea
backend-js/licenta-de643-firebase-adminsdk-mcjcm-15715bb87c.json
backend-js/screenshots-d1cba-firebase-adminsdk-n49a5-829e49782c.json
backend-js/examfiles-7a4d6-firebase-adminsdk-35jsz-f42602ae74.json
backend-js/.env

backend-py/.idea
backend-py/.env

monitor-app/MonitorApp/.vs
monitor-app/screenshots-d1cba-firebase-adminsdk-n49a5-829e49782c.json